div.container {
    display: flex;
    flex-direction: column;
}
div.headingbox {
    border-width: 5px;
    border-style: solid;
    border-color: gray;
    margin-bottom: 10px;
}
div.headingbox h2 {
    margin-left: 15px;
}
div.headingbox p {
    margin-left: 15px;
}
div.images img {
    padding: 7px;
}
@media (min-width: 768px) {
div.container {
    display: flex;
    flex-direction: row;

}
div.headingbox {
    max-height: 400px;
}
}
